@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-wrapper {
  padding: 0 20px;
}
.input-field > label {
  color: #000;
}
input.light-blue-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.light-blue-input + label {
  color: #ffffff !important;
}

input.light-blue-input:focus + label {
  color: #ffeb3b !important;
}

input.light-blue-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.tasks th, td{
  display: inline flow-root list-item !important;
  overflow: auto;
  width: 25% !important;
}
.tasks th:nth-child(1),th:nth-child(2),th:nth-child(4) {
  cursor:pointer
}